body{
    background-image: url("https://images2.alphacoders.com/131/thumb-1920-1314086.jpeg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central{
    width: 450px;
    padding: 30px;
    background: rgba(255,255,255,0.7);
    border-radius: 10px;
}

.central video{
    width: 100%;
}

.central .botoes button{
    background: darkmagenta;
    color: white;
    padding: 6px 20px;
    border: none;
    border-radius: 6px;
    width: 80px;
    margin: 10px 10px;
    cursor: pointer;
    transition: 0.6s;
}

.central .botoes button:hover{
    background: darkred;
    color: white;
    transform: scale(1.1);
}