body{
    /* Degrade de fundo da tela */
    background: linear-gradient(cyan,darkblue,black);
    /* Quebras de linhas da tela */
    height: 100vh;
    /* Centraliza a caixa na tela */
    display: flex;
    /* Realiza o espaçamento na vertical */
    align-items: center;
    /* Realiza o espaçamento na horizontal  */
    justify-content: center;
}


.caixa{
    width: 400px; 
    background: white;
    padding: 20px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.caixa button{
    width: 120px;
    background: darkblue;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}